.card {
  border: none;
  width: 400px;
  border-radius: 5px;
  overflow: hidden;
}

.inner-card {
  height: 20px;
  background-color: #eee;
}

.card-1 {
  height: 200px;
  background-color: #eee;
}

.card-2 {
  height: 130px;
}

.h-screen {
  height: 100vh;
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  50% {
    opacity: 0.9;
  }
}
