body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --bs-primary: linear-gradient(75deg, #0f9, #09f);
  --bs-success: linear-gradient(75deg, #09f, rgb(120, 224, 224));
  --bs-gradient: linear-gradient(75deg, #0f9, #09f);
}
.btn-primary {
  background: var(--bs-pink);
  border: none;
}
.btn-primary:hover {
  background: var(--bs-teal);
  border: none;
}
.float-right {
  float: right;
}
.text-teal {
  color: var(--bs-teal);
}
.text-teal:hover {
  color: var(--bs-orange);
}

.img-table {
  width: 130px;
  height: 140px;
}
.card-clip {
  clip-path: polygon(10px 13.63%, 94.23% 6px, 99.5% 91.89%, 46px 96.92%);
}
.bg-hero {
  background: linear-gradient(75deg, #ff3b3b, #ff00bf);
  margin-bottom: 4rem;
}
.bg-hero2 {
  background: linear-gradient(75deg, #0f9, #09f);
}
.nav-link {
  color: antiquewhite !important;
}
.navactive {
  background: #000 !important;
}
.navactive strong {
  color: #fff;
}
.navlink:hover {
  background: #fff !important;
  border: 0;
}

.navlink:hover strong {
  color: tomato;
}
.img-sm {
  width: 3rem;
  margin-right: 3px;
}
.img-md {
  width: 8rem;
}
.img-circle {
  -webkit-clip-path: circle();
  clip-path: circle();
}
.img-message {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
}
.navbar-nav {
  align-items: center;
}

.star {
  margin-left: 3rem;
  padding-top: 3px;
}
.quotes {
  quotes: "\201c""\201d";
  font-size: 1rem;
  color: gray;
}
.quotes::before {
  content: open-quote;
}

.quotes::after {
  content: close-quote;
}
.card-body:hover {
  background: linear-gradient(75deg, pink, hotpink) !important;
  text-align: center;
  /* box-shadow: 0px 4px 8px 0 hotpink, 0 6px 20px 0 #fff); */
}
.card-body {
  position: relative !important;
  overflow: hidden;
}
.card-body img {
  opacity: 0.6 !important;
}

.card-body img:hover {
  transform: scale(1.1) !important;
  opacity: 1 !important;
}
/* footer {
  clip-path: polygon(0 45%, 99.78% -6%, 100% 99%, 0% 100%) !important;
} */
