.banner-section {
  /* background: linear-gradient(
    75deg,
    rgba(255, 11, 171, 0.8),
    rgba(234, 234, 234, 0.2)
  ); */

  background: linear-gradient(
    75deg,
    rgba(236, 109, 240, 0.8),
    rgba(255, 81, 81, 0.54)
  );
  clip-path: polygon(
    0% 0%,
    0.15% 100.76%,
    14.85% 96.05%,
    22.92% 93.86%,
    28.73% 92%,
    36.25% 91.94%,
    43.14% 93.19%,
    49.4% 95.38%,
    59.17% 99.33%,
    68.81% 100.28%,
    72.53% 99.7%,
    75.76% 99.63%,
    82.32% 97.89%,
    85.26% 95%,
    89.11% 91.84%,
    92.24% 87.49%,
    94.48% 81.79%,
    96.56% 75.56%,
    98.31% 69.22%,
    99.85% 60.97%,
    100% 0%
  );
  position: relative;
}

/* .banner-img:hover {
  clip-path: circle(22.8% at 50% 50%);
} */

footer {
  clip-path: polygon(
    0% 0%,
    19% 26%,
    78.53% 25.33%,
    101.53% -4%,
    100.51% -12px,
    100% 100%,
    0px 100%
  );
  background: linear-gradient(75deg, #0f9, #09f);
}
.clip {
  /* clip-path: polygon(10px 13.63%, 94.23% 6px, 99.61% 94.29%, 46px 96.92%); */
  clip-path: none;
}

@media (max-width: 768px) {
  .banner-section {
    height: 330px;
    clip-path: polygon(0 0%, 100% 0, 100% 84%, 0 95%);
  }
  .clip {
    clip-path: polygon(0px 3.5%, 100% 0px, 99% 99.91%, 0px 100%);
    margin-top: -2rem;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.animation {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
}
.fade-left {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.animation-right {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInRight;
}
.fade-right {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
