/* list-group-item  border-0 text-white  */
.responsive {
  margin-top: auto;
}
@media (max-width: 520px) {
  .responsive {
    margin-top: 0px;
  }
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.25rem transparent;
}
